$baseHeight: 25rem;

a.container {
  display: flex;
  align-items: flex-start;  
  justify-content: flex-start;

  width: 100%;

  border-radius: 36px 6px 6px 6px;

  background:  var(--gray-100);
  box-shadow: 0 0 0.5rem var(--gray-500);

  padding: 0 1rem 0 0;

  transition: transform 0.3s ease, box-shadow 0.3s ease;

  cursor: pointer;

  @media (max-width: 54.736rem) {
    flex-direction: column;       
    padding: 0;    
  }

  &:hover {    
    box-shadow: 0 0 1rem var(--gray-800);
  }

  img {
    min-width: 25rem;
    max-width: 25rem;
    height: 100%;
    max-height: #{$baseHeight};

    @media (max-width: 54.736rem) {
      width: 100%;       
      min-width:  100%;
      max-width:  100%;
    }

    border-radius: 36px 0 36px 6px;

    object-fit: cover;
    
    border-bottom: 2px solid var(--gray-300);
  
  }
  
  .info-container{   
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
  
    align-items: flex-start;
    justify-content: flex-start;

    padding: 0.5rem 1rem;

    .description {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    h1.accommodation-name {
      font-size: 2.25rem;
      font-weight: 700;
      line-height: 1.3;
  
      color: var(--gray-600);
    }

    div.accommodation-description {
      margin-top: 0.5rem;
    
      font-size: 1rem;
      line-height: 1.5;
  
      color: var(--gray-700);

      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .additional-info {
      width: 100%;
      display: flex;
      flex-direction: column;

      justify-content: space-between;

      margin-top: 1rem;

      .facilities {
        margin-bottom: 1rem;   
        flex: 1;     
        
        div.facilities-list{
          display: flex;
          flex-wrap: wrap;

          gap: 1rem;

          margin-top: 0.75rem;
        }
      }
      
      .price-container {
        width: 100%;
        display: flex;
        
        align-items: flex-end;
        justify-content: flex-end;

        align-self: right;
    
    
        strong.more-info {
          font-size: 0.875rem;
          color: var(--gray-500);
        }        
    
        .price {
          color: var(--gray-600);
      
          font-family: 'Roboto';
          font-size: 1.65rem;
          font-weight: 800;
          line-height: 1.3;
      
          .currency {
            font-family: 'Roboto';
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.3;
      
            margin-right: 0.25rem;
      
            color: var(--gray-600);
          }
        }
      }  
    }    
  }
}
