.container {   
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 10rem;

   
    padding: 3rem 2rem;

    
    border-radius: 6px;

    background:  var(--gray-100);
    box-shadow: 0 0 0.5rem var(--gray-500);        

    .title {
        width: 100%;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        gap: 0.5rem;

        margin-bottom: 2rem;

        h1 {
            font-size: 2rem;
            font-weight: 700;
        }

        strong {
            color: var(--gray-500);
        }
    }

    .terms {
        display: flex;
        flex-direction: column;

        gap: 1rem;

        ul {
            margin-left: 2rem;
            margin-bottom: 1rem;
        }
    }
    
}


