.container {
    display: flex;

    align-items: center;

    button {
        all: unset;
        cursor: pointer;
    }
      
    .CheckboxRoot {
        background: var(--gray-100);
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 6px;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid var(--green-500);


        .CheckboxRoot:hover {
            background: var(--green-300);
            color: var(--gray-100);
            border: 0;
            
        }
        .CheckboxRoot:focus {
            box-shadow: 0 0 0 2px var(--green-300);
            color: var(--gray-100);
        }
        
        .CheckboxIndicator {
            color: var(--green-500);
        }

        .CheckboxRoot[data-state="checked"] {
            box-shadow: 0 0 0 2px var(--green-300);
        }

    }
    
    .label {
        color: var(--gray-700);
        padding-left: 0.5rem;
        font-size: 1rem;
        line-height: 1;
    }
    
}

