.page-container {
    display: flex;
    flex-direction: column;

    align-items: flex-end;
    justify-content: center;

    margin-top: -10rem;

    .section-container {
        width: 35rem;
        display: flex;
        flex-direction: column;

        align-items: center;  

        padding: 1rem;

        border-radius: 6px;

        background:  var(--gray-100);
        box-shadow: 0 0 0.5rem var(--gray-500);            
        
        gap: 1.5rem;

        margin-right: 10rem;
        z-index: 2;

        h1 {
            font-size: 2rem;
            color: var(--gray-600);
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;

            padding: 1rem;

            gap: 2.5rem;

            p {
                text-align: center;
            }

            a {
                text-align: center;
                text-decoration: underline;
            }
        }

              
    }

   
}
