.section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    gap: 2rem;

    h1 {
        font-size: 2rem;
        color: var(--gray-600)
    }
}


.accommodation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @media (max-width: 54.736rem) {
        justify-content: space-evenly;
    }

    margin-bottom: 3rem;

    gap: 1rem;

}

       