

.container {
  max-width: 70rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  input {
    
    flex: 1;
    border-radius: 6px;
    border: 0;
    background: var(--gray-900);
    color: var(--gray-300);
    padding: 1rem;
    &::placeholder {
      color: var(--gray-500);
    }
  }

  .buttonWithText {
    display: block;
  }

  .buttonJustIcon {
      display: none;
  }

  @media (max-width: 50rem) {
      top: 0.75rem;
      .buttonWithText {
          display: none;
      }

      .buttonJustIcon {
          display: block;
      }
  } 

  button {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    border: 0;
    padding: 1rem;
    background: transparent;
    border: 1px solid var(--green-700);
    color:var(--green-500);
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;

    &:not(:disabled):hover {
      background: var(--green-500);
      border-color: var(--green-500);
      color: var(--white);
      transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
