.container {
    width: 100%;
    display: flex;
    

    position: relative;

    align-items: center;
    justify-content: center;

    

    .divider {
        border: 1px solid var(--gray-300);

        opacity: 0.7;
    }

  span, h1 {
    position: absolute; 

    z-index: 2;
    
    background-color: var(--gray-100);
    padding: 0 10px;
  }
}
