

.container{     
    position: relative;  
    width: 100%;     

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem;     

    .title {
        position: absolute;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        top: 0.5rem;
        left: 2rem;
        
        color: var(--gray-100);
    
        @media (max-width: 75rem) {
            font-size: 1.175rem;
        }  
    
        @media (max-width: 55rem) {
            font-size: 0.625rem;
            top: 1rem;
        }  
    
        @media (max-width: 30rem) {
            font-size: 0.5rem;
            top: 1.25rem;
        } 


    }

    .buttonContainer{
        position: absolute;
        right: 2rem;
        top: 0.5rem;

        .buttonWithText {
            display: block;
        }

        .buttonJustIcon {
            display: none;
        }

        @media (max-width: 37rem) {
            top: 0.75rem;
            .buttonWithText {
                display: none;
            }
    
            .buttonJustIcon {
                display: block;
            }
        } 

    } 
    
}

.infoContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;    

    gap:2rem;

    @media (max-width: 75rem) {
        display: flex;
        flex-direction: column;
        gap:0.5rem;
    }  

    padding: 2rem 0;
   


    .info {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 0.25rem;
        margin-bottom: 1rem;

        label {
            color: var(--gray-100);
            font-weight: 700;
        }
    
        span {
            color: var(--gray-100);
        }
    }

}

   
