.overlay {
  position: fixed;
  min-width: 100vw;
  height: 100vh;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.close-button {
  position: absolute;
  background: transparent;
  border: 0;

  top: 1.5rem;
  right: 1.5rem;

  line-height: 0;

  cursor: pointer;

  color: var(--gray-100);
}

.content {
  min-width: 20rem;

  border-radius: 6px;

  padding: 2.5rem 3rem;

  background: var(--gray-700);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 10010;
 
}
