
.page-container {   
    display: flex;
    flex-direction: column;

    align-items: flex-end;
    justify-content: center;

    margin-top: -8rem;

    .section-container {
        width: 35rem;
        display: flex;
        flex-direction: column;

        align-items: center;  

        padding: 1rem;

        border-radius: 6px;

        background:  var(--gray-100);
        box-shadow: 0 0 0.5rem var(--gray-500);            
        
        gap: 1.5rem;
        
        margin-right: 10rem;
        z-index: 2;

        h1 {
            font-size: 2rem;
            color: var(--gray-600);
        }         
    }   
}
