.container {
  width: 100%;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: flex-start;
  
  font-size: 0.875rem;
  color: var(--gray-600);    

  border: 1px solid var(--gray-300);
  border-radius: 4px;

  background: var(--gray-100);

  padding: 0.75rem 0.75rem 0;   

  cursor: pointer; 


  &.input-error {
    border-color: var(--red-500);
    box-shadow: 0 0 5px var(--red-500)
  }

  
  .label-container {
    width: 100%;
    display: flex;  

    flex: 1;     

    align-items: center;
    justify-content: flex-start;

    gap: 0.5rem;     
  
    label {
        pointer-events: none;
    }
   
  }

}