header.header {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 6rem;
    padding: 0.5rem 0 1rem;

    background-color: var(--gray-900);
}

div.header {
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
    }
    a:visited {
        color: inherit;
    }

    
    
    div.logoContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: var(--gray-100);
      
        strong {
            font-size: 1.75rem;
            font-style: italic;
            font-weight: 700;
            @media (max-width: 35rem) {
                display: none;               
            } 
        }
    }
}

   
  
  