
.navigation-wrapper {
  position: relative;
  width: 100%;

  .fader {  
    height: 500px;
    position: relative;
    overflow: hidden;
  }
  
  .fader__slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  
  .fader img {
    background-color: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    cursor: pointer;
  }
  
  .dots {
    display: flex;
    justify-content: center;

    position:absolute;

    left: 50%;
    transform: translateX(-50%);
    
    gap: 1rem;

    bottom: 2rem;
  }
  
  .dot {
    border: none;
    width: 10px;
    height: 10px;
    background: #c5c5c5;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
  }
  
  .dot:focus {
    outline: none;
  }
  
  .dot.active {
    background: #000;
  }
  
  .arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: #fff;
    cursor: pointer;
  }
  
  .arrow--left {
    left: 5px;
  }
  
  .arrow--right {
    left: auto;
    right: 5px;
  }
  
  .arrow--disabled {
    fill: rgba(255, 255, 255, 0.5);
  }

}


