.container {
    width: 100%;
    height: 100%;
    display: block;

    justify-content: space-between;

    margin-bottom: 1rem; 

    .form-content {
        display: flex;
        flex-direction: column;

        gap: 1.5rem;

        .radiogroup-label {
            display: flex;
    
            align-items: center;
            justify-content: flex-start;
    
            gap: 0.25rem;
    
            font-weight: 700;
        }
    
        & div[role='radiogroup'] {
           display: flex;
    
           align-items: center;
           justify-content: center;
    
           flex-wrap: wrap;
    
           gap: 0.5rem;
           
           .selection-radio-container{
            display: flex;
            flex-direction: column;
    
            align-items: center;
            justify-content: center;
            
            gap: 0.25rem;
    
            span {
                font-size: 0.875rem;
            }
           }
        }    
    }
   
    button[type='submit']{ 
        margin-top: 5rem;
        align-self: flex-end;  
    }   

    .summary {
        display: flex;
        flex-direction: column;

        align-items: center;

        gap: 2rem;

        margin-top: 2rem;

        strong {
            font-size: 1.5rem;
        }
    }

    
}