
.container {        
    width: 100%;

    display: grid;
    grid-template-columns: 55% 45%;     

    align-items: flex-start;
    justify-content: center;

    padding: 2rem;    

    gap: 3rem;

    @media (max-width: 55rem) {
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }   
    
    .stepper {
        width: 100%;
        display: flex;
    
        align-items: center;
        justify-content: center;
    }

    form {
        width: 100%;
    }
    
    .total {
        width: 100%;
        display: flex;

        justify-content: center;

        strong {
            color: var(--gray-600);
            font-size: 1.75rem;
            text-align: center;
        }
        
    }   
    
}
 


