.fieldset{       
    position: relative;
    width: 75%;
  
    margin-top: 1.5rem;
  
    padding: 1.5rem;
  
    border: 1px solid var(--green-300);
    border-radius: 6px;

    @media (max-width: 70rem) {
      width: 100%;
    } 
  
    h1 {
      display: block;
      position: absolute;
      padding: 0.5rem;
  
      margin-top: -2.8rem;
  
      background-color: var(--gray-700);
      color: var(--gray-100);

      @media (max-width: 50rem) {
        font-size: 1.25rem;
      }  

      @media (max-width: 35rem) {
        font-size: 1rem;
      }  
    }
}