
.input-container {
  
  position: relative;  
  width: 100%;

  .label {
    position: absolute;

    top: -0.6rem;
    left: 1rem;

    padding: 0 0.25rem;

    z-index: 1;

    background: var(--gray-100);

    label{
      color: var(--gray-600);
      font-weight: 700;
      font-size: 0.875rem;
      font-style: italic;
    }
  }

  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    input {
      box-sizing: border-box;
      display: flex;
  
      align-items: center;
      justify-content: flex-start;
  
      height: 2.625rem;
  
      padding: 0.75rem;
  
      background: var(--gray-100);
  
      border: 1px solid var(--gray-300);
      border-radius: 4px;
  
      font-size: 0.875rem;
      color: var(--gray-700);

      &.input-error {
        border-color: var(--red-500);
        box-shadow: 0 0 5px var(--red-500)
      }
  
      &::placeholder {
        color: var(--gray-500);
        font-style: italic;
      }
    }

    .icon {
      display: flex;

      align-items: center;
      justify-content: center;

      width: 1.5rem;
      height: 1.5rem;

      position: absolute;
      top: 50%;
      right: 0.5rem;

      transform: translateY(-50%);

      color: var(--gray-700);
      opacity: 0.7;

      cursor: pointer;
    }
  }

  .error-message {
    display: flex;

    align-items: center;

    gap: 0.25rem;

    margin-top: 0.5rem;

    font-size: 0.875rem;
    color: var(--red-500);
    font-style: italic;
  }

}